//
// VARIABLES
// ----------------------------------------------

$color-bg-body: hsl(0, 0%, 95%);
$color-bg-sedans: hsl(31, 77%, 52%);
$color-bg-suvs: hsl(184, 100%, 22%);
$color-bg-luxury: hsl(179, 100%, 13%);

$color-headings-buttons: hsl(0, 0%, 95%);
$color-paragraphs: hsla(0, 0%, 100%, 0.75);
